{% extends 'todos/base.html' %}

{% block title%} TODO-APP {% endblock %}

{% block content %}

<div class="container text-center">

    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>My Todo List:</h1>
            </div>
        </div>
    </div>

    {% comment %} Add a new Todo Task {% endcomment %}

    <div class="row" id="div-add">
            <form method="POST" action="{% url 'todo_app:todo-add' %}">
                {% csrf_token %}
                <div class="row-cols-1">
                    <input id="input-title" type="text" class="form-control" name="title" placeholder="Add a new task ..." required>
                </div>
                <div class="row-cols-1">
                    <input id="input-title" type="text" class="form-control" name="description" placeholder="Add a description...">
                </div>
                <div class="row-cols-1" id="add-button">
                    <button id="add-button" type="submit" class="btn btn-outline-primary" name="submit">Add</button>
                </div>
            </form>
    </div>
    <hr>

    {% comment %} Display the Todo List {% endcomment %}

    <div>
        {% if todo_list %}
            {% for item in todo_list %}
            <div class='border-bottom m-3'>
                <ul class='todo_task_list'>
                    <li><h4>Title: {{ item.title }}</h4></li>
                    <div class='task_descriptions'>
                        <li>Description: {{ item.description }}</li>
                        <li>Date Created: {{ item.date_created }}</li>
                        <li>Completed: {{ item.isCompleted }}</li>
                    </div>
                </ul>
            </div>
            {% empty %}
                <p>Good news! You don't have any task for now, just relax a bit and breathe!</p>
            {% endfor %}
        {% endif %}
    </div>      
</div>

{% endblock %}