body {
    background-color: #4B527E;
    text-emphasis-color: white;
    color: #f2f2f2;
}

.container {
    background-color: #4B527E;
}

.todo_task_list {
    list-style: none;
    justify-content: center;
    text-align: left;
}

#div-add {
    display: inline;
}

#add-button {
    color: white;
}

#input-title,
#input-desc {
    margin-top: 7px;
    margin-bottom: 7px;
}