body {
    text-align: center;
    background-color: #4B527E;
    text-emphasis-color: white;
    color: #f2f2f2;
}

.container {
    background-color: #4B527E;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.page_header {
    padding: 5px;
}

.todo_task_list {
    list-style: none;
    text-align: left;
    justify-content: center;

}